<div class="dashboard-container">
    <div class="row">
        <div class="col h-100" *ngIf="caseData">
            <app-case-card [removeTotal]="true" [data]="caseData"></app-case-card>
        </div>
        <div class="col h-100" *ngIf="vaccineData">
            <app-vaccine-card [data]="vaccineData"></app-vaccine-card>
        </div>
    </div>
    <app-user-state-list></app-user-state-list>
    <!-- <app-pinned-countries></app-pinned-countries>
    <app-all-country-cases></app-all-country-cases> -->
</div>