<div class="dashboard-container">
    <div class="row">
        <div class="col h-100">
            <mat-card class="bg-secondary">
                <mat-card-header>
                    <mat-card-title>World</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Ok</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col h-100">
            <mat-card class="bg-secondary">
                <mat-card-header>
                    <mat-card-title class="flex space-between">
                        <span>India</span>
                        <span class="flag-icon flag-icon-in">c</span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Ok</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>