<mat-card class="bg-secondary">
    <mat-card-header>
        <mat-card-title class="flex space-between">
            <span>{{title}}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="card-body">
            <div class="all-data-container">
                <div class="flag-container flex-box-center">
                    <img [src]="icon" alt="country icon">
                </div>
                <div class="flex-4">
                    <h3 class="text-center m-0" *ngIf="!removeTotal">Today</h3>
                    <div class="row">
                        <div class="col flex-box-center flex-col">
                            <h4 class="text-center m-0">Cases</h4>
                            <h2 class="text-center m-0 flex danger-text">{{data?.todayCases}}
                            </h2>
                        </div>
                        <div class="col flex-box-center flex-col">
                            <h4 class="text-center m-0">Recovered</h4>
                            <h2 class="text-center m-0 flex success-text">
                                {{data?.todayRecovered}}
                            </h2>
                        </div>
                        <div class="col flex-box-center flex-col">
                            <h4 class="text-center m-0">Death</h4>
                            <h2 class="text-center m-0 flex danger-text">{{data?.todayDeaths}}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!removeTotal">
                <div class="col flex-box-center flex-col">
                    <h5 class="text-center m-0">Cases</h5>
                    <h3 class="text-center m-0">{{data?.cases}}
                    </h3>
                </div>
                <div class="col flex-box-center flex-col">
                    <h5 class="text-center m-0">Death</h5>
                    <h3 class="text-center m-0">{{data?.deaths}}</h3>
                </div>
                <div class="col flex-box-center flex-col">
                    <h5 class="text-center m-0">Recovered</h5>
                    <h3 class="text-center m-0">{{data?.recovered}}</h3>
                </div>
                <div class="col flex-box-center flex-col">
                    <h5 class="text-center m-0">Critical</h5>
                    <h3 class="text-center m-0">{{data?.critical}}</h3>
                </div>
                <div class="col flex-box-center flex-col">
                    <h5 class="text-center m-0">Tests</h5>
                    <h3 class="text-center m-0">{{data.tests}}</h3>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>